
.container-contact{
    width: 100vw;
    height: 140vh;
    background-color: #223140;
  
}


#contact{
    display: flex;
    align-items: center;
}

.contact-form{
    width: 100%;
}

.single-line-inputs{
    width: 340px;
    /* margin-left:24px; */
}
.MuiOutlinedInput-notchedOutline {
    border-color: #768089!important;
    
}

.first-name-input, .last-name-input, .email-input, .phone-input{
    margin-bottom: 35px!important;
}

.last-name-input{
    margin-right:0!important;

}

.first-name-input, .email-input{
    margin-right: 24px!important;
}
.phone-input{
    margin-right: 0!important;

}

.message-input{
    width: 703px;
    color: white !important;
    
}

.address-div-desktop{
    display:inherit;
}

.address-div-mobile{
    display:none;
}

@media screen and (max-width:800px){
    .message-input{
        width: 340px;
        
    }
    .div-inputs-contact{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .single-line-inputs{
        margin-right:0!important;
    }
    
    .contact__upper-text-grid{
    
        justify-content: center;
            align-items: left;
            width: 340px!important;
    }
        
    .contact__contacts{
        display: flex;
        flex-direction: column;
        width: fit-content!important;
        align-self: flex-end;
        text-align:center;
        border: 1px solid white;
        
        
        }
        .contact__contacts div p{
        }
        .contact__contacts div p, h6{
            margin-right: 5px;
            margin-left:5px;
        }
    .contact__contacts div{
        display: flex;
        border: 1px solid red;
        justify-content: center;
        
        
        }
    .contact__contacts h6{
        display: none;
    }
        .white-e{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 300;
            font-size: 16.5px;
            line-height: 20px;
            text-align: center;
            
            color: #FFFFFF;
        }
        .address-div-mobile{
            display:inherit;
        }
        .address-div-desktop{
            display:none;
        }
}

@media screen and (max-width:1200px){



};


.MuiInputLabel-outlined{
    
    color: #D3D6D8!important
}



.MuiInputBase-input.MuiOutlinedInput-input.MuiInputBase-inputMultiline.MuiOutlinedInput-inputMultiline{
    color: white!important;
    }
    
    .MuiInputBase-input.MuiOutlinedInput-input{
        color: white!important;
    
    }
    
    .contact__submit-button{
        width: 340px;
        height: 57px;
        background-color: #EC8F6A!important;
        margin-top: 30px;
    }
    
    .contact__upper-text-grid{
        /* border: 1px solid red; */
        font-family: 'Poppins';
        display: flex;
        flex-direction:column;
    justify-content: left;
    width: 700px;
    
    
    /* Rectangle 20 *
    /* Need a help in your new project? Contact us today! */
    
    
    
    
    
    
    
    }
    
    .contact__upper-text-grid h1{
        font-size: 31px;
        font-weight: bold;
        color: #EC8F6A;
    }
    
    .contact__upper-text-grid p{
        font-family: 'poppins';
        font-size: 23px;
        font-weight: 400;
        text-align: left;
        color: white;
        font-style: normal;
    
    
    /* or 152% */
    letter-spacing: -0.015em;
    
    }
    
    .contact__upper-text-grid{
        align-self: flex-end;
    }
    
    .constact__upper-text__first-p{
        margin-top:5px;
        margin-bottom:0;
    
    }
    
    .constact__upper-text__last-p{
        margin-top:0;
    
    }
    
    .contact__upper-text-grid__span{
        border-top: 1px solid white;
        height: 1px;
        margin-top: 16px;
        margin-bottom: 36px;
       
    }
    
    .contact__contacts{
    /* width: 40vw; */
    align-self: flex-end;
    text-align:center;
    width: fit-content!important;

    }
    
    .contact__contacts div h6{
        /* Phone */
    
    
    
    font-family:' Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    
    /* White_CasaNova */
    color: #FFFFFF;
    
    }
    
    
    .contact__contacts div p{
    
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16.5px;
    line-height: 20px;
    text-align: center;
    
    color: #FFFFFF;
    
    
    }
    
    
    
    
    #g-10{
        position:absolute;
        bottom:-2270px;
        left: 70px;
        width: 20vw;
      
    }
    
    #g-8{
        position:absolute;
        width: 10vw;
        top: 1730px;
        left:100px;
    }