
.iii{
    /* width: 30vw;
    object-fit: cover; */
    /* margin-right: 10px!important; */
}

@media screen and (max-width:768px){
    /* .iii{
        width: 65vw;} */
}

/* .ae{
    width: 61vw;
} */
/* .ae div{
    margin: 0!important;
    width: 62vw;
} */

/* .slick-prev{
    width: 11.47px;
    height: 20.68px;
}
.slick-next{
    width: 11.47px;
    height: 20.68px;
    

} */